
@font-face {
  font-family: "CustomTag";
  src: url(/psdashboard/prod/fonts/tags-font/Pseudonumb.otf) format("opentype");
}


#tags{
  float:left;
  border:1px solid #ccc;
  padding:3px;
  padding-left: 10px;
  padding-right: 10px;
  background: #E6E6E6;
  border-radius: 25px;
  cursor: pointer;
  cursor: hand;
  color : #0D87FD;
  margin: 2px;
  font-size:18px;
  font-family: CustomTag ;
}
#tags > span{
  cursor:pointer;
  display:block;
  float:left;
  color:#fff;
  background:#789;
  padding:5px;

  padding-right:25px;
  margin:10px;
}
#tags > span:hover{
  opacity:0.7;
}
#tags > span:after{
 position:absolute;
 content:"x";
 border:1px solid;
 padding:2px 5px;
 margin-left:3px;
 font-size:11px;
}
#tags > input{
  background:#eee;
  border:0;
  margin:4px;
  padding:7px;
  width:auto;
}
.tags_desc{
  position:absolute;
  clear:both;
  float:left;
  margin-top : 30px;

  margin:0px;
  padding : 0px;

}
