


html,
body {

  /* background: url(/psdashboard/imgs/homebg.png);*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

   margin:0;
   padding:0;
   height:100%;
}


.prod_profile{

  width:18%;
  height: 330px;

  border:1px solid #D6D6D6;
  text-align: center;
  align-items: center;
  align-content: center;
  margin: 10px;
  padding: 10px;
}

.prod_row{
  text-align:center;
  align-content: center;
  width: 96%;
  padding-left: 2%;
  margin-left: 5%

}

.prod_row_dashboard{
  text-align:center;
  align-content: center;
  width: 96%;
  padding-left: 2%;
  margin-left: 2%;
}


.prod_desc{
  margin-top:10px;
}

.prod_addn_description{

  text-align: left;
  margin-top:20%;



}
.prod_img{
  width: 200px;
  height: 80px;
}

.prod_heading{
  color : #898989;
}

a img {
    -webkit-transition: -webkit-transform 0.3s ease;
    -moz-transition: -moz-transform 0.3s ease;
    -o-transition: -o-transform 0.3s ease;
    transition: transform 0.3s ease;
}

a:hover img {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);

    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.prod_cover_img{
  width:100%;
  height:100%;
}

.prod_cover{

}

h1 {
	text-align: center;
}

#posts {
	margin: 0 auto;
	padding: 0;
	width: 700px;
}

article h1 {
	text-align: left;
	border-bottom: 1px dotted #E3E3E3;
}

article p {
	text-align: justify;
	line-height: 1.5;
	font-size: 1.1em;
}

#loading {
	display: none;
	text-align: center;
}

/** layout **/
#wrapper {
  text-align: left;
  margin: auto;
  display: block;

  padding: 15px;

  overflow:auto;


}

#header {
  position: absolute;
  top: 0;
  left: 243px;
  width: 535px;
  height: 279px;
  background: url(architecture-bureau-images/header_2.jpg) no-repeat;
}

#logo {
  width: 244px;
  padding-bottom: :10px;
  background: url(architecture-bureau-images/header_1.jpg) no-repeat;
  text-align: center;
  align-content: center;
  color: #595959;
}
#logo h1 {
  padding-top: 30px;
  font: 24px "arial narrow", arial, sans-serif;
}
#logo p {
  margin: 8px 25px 4px 25px;
  border-top: 1px solid #B8B8B8;
  border-bottom: 1px solid #B8B8B8;
  padding: 3px;
  letter-spacing: 0.2em;
  font-weight: bold;
}

#nav {
  background: url(architecture-bureau-images/nav_left.jpg) no-repeat;
}
#nav ul {
  margin-left: 9px;
  padding-left: 1px;
  padding-bottom: 29px;
  background: #2A2A2A bottom left url(architecture-bureau-images/nav_bot.jpg) no-repeat;
}
#nav li {
  list-style: none;
  font: 14px "arial narrow", arial, sans-serif;
  border-top: 1px solid #959595;
  background: 188px 10px url(architecture-bureau-images/arr_white.gif) no-repeat;
  padding: 7px 0 0 31px;
}
#nav a {
  color: #fff;
  text-decoration: none;
  border-left: 1px solid #959595;
  padding-left: 10px;
  display: block;
  width: 90%;
  padding: 2px 0 6px 8px;
}
#nav a:hover {
  text-decoration: underline;
}
#nav .important {
  border: none;
  background: 188px 10px url(architecture-bureau-images/arr_orange.gif) no-repeat;
}
#nav .important a {
  color: #E9C379;
}

#news {
  background: url(architecture-bureau-images/news_bg.jpg) repeat-y;
  padding-left: 37px;
  padding-right: 22px;
  padding-bottom: 3px;
  text-align: justify;
}
#news h2 {
  font-size: 12px;
  color: #BE8B06;
}
#news h3, #news p {
  font-size: 11px;
  margin: 1em 8px 1em 0;
}
#news a {
  color: #74653D;
  font-weight: bold;
  text-decoration: underline;
}
#news a:hover {
  color: #38301A;
}
#news .more {
  font-size: 9px;
}
#news .hr-dots {
  background: center url(architecture-bureau-images/dots.gif) repeat-x;
  height: 10px;
}

#support {
  background: url(architecture-bureau-images/support.jpg) no-repeat;
  padding: 1px;
  height: 97px;
  color: #1A1A18;
}
#support p {
  margin: 0.7em 2.6em;
}

#right {
  float: right;
  width: 490px;
  padding-right: 9px;
  padding-top: 301px;
}
#right h2 {
  font: 18px arial, sans-serif;
  color: #BE8B06;
  border-bottom: 1px solid #C4AE7C;
  padding-bottom: 6px;
  margin-bottom: 1em;
}
#right h3 {
  font: 14px arial, sans-serif;
  color: #BE8B06;
  border-bottom: 1px solid #C4AE7C;
  padding-bottom: 6px;
  margin-bottom: 1em;
  margin-top: 2em;
}
#welcome {
  margin-right: 20px;
}
#profile {
  margin-right: 16px;
}
#right .left {
  margin-right: 18px;
}
#right .more {
  font-weight: bold;
  font-size: 10px;
}

#corp, #indu {
  float: left;
  width: 49%;
}
#corp {
  margin-right: 1%;
}
#corp-img, #indu-img {
  background: url(architecture-bureau-images/pic_2.jpg) no-repeat;
  width: 112px;
  height: 23px;
  float: left;
  margin-right: 18px;
  text-align: center;
  padding-top: 90px;
  font-size: 9px;
  font-weight: bold;
}
#indu-img {
  background: url(architecture-bureau-images/pic_3.jpg) no-repeat;
}
#spacer {
  height: 2em;
}

#header_nav{
  width: 100%;
  padding-left: 2%;

}

#index_1{
  margin: 30px;
  margin-left: 50px;

}
#index_1 h3{
  color: #595959;
  text-align: center;
  font: 28px "arial narrow", arial, sans-serif;
  padding:10px;
}
#index_1 p{
  padding-left:20px;
  padding-right:20px;
}
.outer_div{
   min-height:100%;
    position:relative;
}
.content_div{
  height: 1100px;
  padding-bottom:60px;
}
.custom_footer{
      position: absolute;
      bottom: 0;
      width: 100%;
      padding-top : 20px;
      background-color: #E6E6E6;
      text-align: center;
      height: 70px;
      z-index: 9999;
      font-family: CustomBold;
}

.top_contributers{
   height: 30%;
   overflow-x: hidden;
   overflow-y: scroll;
}
.latest_updates{
  height: 30%;
  overflow-x: hidden;
  overflow-y: scroll;
}
.procedures_icon{
  width: 50px;
  height: 30px;
  float: left;
}
.isilon_prod_desc{


  text-align: center;
  font-size: 20px;
  color : #898989;

}
.disclaimer{

  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  color : red;


}
.procedure_data{
  margin-left:50px;
  padding-left: 2%;
  margin-top : 20px;

}
.procedure_row{
  border:1px solid #D6D6D6;
  height: 180px;
  display: block;
  overflow: auto;
  padding-bottom : 10px;
  background-color: #F5F5F5;
  margin-bottom: 10px;
  padding-top : 10px;
}

@font-face {
  font-family: "CustomBold";
  src: url(/psdashboard/prod/fonts/Arvo/Arvo-Bold.ttf) format("truetype");
}



.procedure_heading{
  font-size:21px;
  font-weight: 400;
  color : #51BDDC;
  float:left;
  font-family: CustomBold;
}
.isilon_prod_main{
  margin-left:70px;
  padding-left: 2%;
  text-align: center;
}
.procedure_owner{
  float:right;
  height: auto;
  margin : 0px;
}
.procedure_date{
  float:right;
  height: auto;
  margin-bottom : 0px;
}
#pagination{
  padding:10px;
  background-color: #A2F978;
  color:#000000;
  font-weight: 600;
  margin-top:20px;
}

@font-face {
  font-family: "CustomLight";
  src: url(/psdashboard/prod/fonts/Mukta_Vaani/MuktaVaani-Light.ttf) format("truetype");
}

.procedure_desc{

  font-size: 18px;
  font-family: CustomLight;
  max-width : 65%;
  word-wrap: break-word;

  float: left;
}
#filter_bar{
  margin-top:20px;
  margin-top:20px;
  margin-bottom: 20px;
}
.browse_btn{
  width: 30px;
  height: 30px;
}
.product_data{
  align-content: center;
  align-self: center;
}
.clickable-row{
  cursor: pointer;
  cursor: hand;

}
.clickable-row:hover {
  color: #0C9BEF;
}
