body {
  background: url(../imgs/bg-new.png) no-repeat center center fixed; ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.heading {
  margin-top: 5%;
  margin-left : 5%;
  font-size: 72px;;
  font-family: "Montserrat";
  color: rgb(0, 114, 188);
  font-weight: bold;

  line-height: 0.44;
  text-indent: 10px;
  -moz-transform: scale(0.94, 0.97);
  -webkit-transform: scale(0.94, 0.97);
  -ms-transform: scale(0.94, 0.97);


}

.description_index {
  margin-top: 2%;
  margin-left : 5%;
  font-size: 48px;
  font-family: "Sacramento";
  color: rgb(255, 255, 255);
  line-height: 0.4;
  text-indent: 10px;
  -moz-transform: scale(0.94, 0.97);
  -webkit-transform: scale(0.94, 0.97);
  -ms-transform: scale(0.94, 0.97);

}

.more_desc {
  margin-top: 2%;
  margin-left : 5%;
  font-size: 25px;
  font-family: "Libre Baskerville";
  color: rgb(242, 238, 238);
  text-indent: 10px;
  line-height: 1.5;
  -moz-transform: scale(0.94, 0.97);
  -webkit-transform: scale(0.94, 0.97);
  -ms-transform: scale(0.94, 0.97);

}



.login_button {
  margin-top: 2%;
  margin-left : 8%;
  border-style: solid;
  border-width: 2px;
  border-radius: 35.5px;
  border-color: rgb(52, 49, 45);
  background-color: rgb(145, 145, 144);
  opacity: 0.65;
  box-shadow: 0.717px 1.867px 0px 0px rgba(255, 255, 255, 0.004),inset 0px 2px 2px 0px rgba(0, 0, 0, 0.57);

  width: 276px;
  height: 67px;
  z-index: 8;
}


.Login {
  margin-top: 4%;
  margin-right : 8%;
  text-align: center;
  font-size: 36px;
  font-family: "Libre Baskerville";
  color: rgb(0, 0, 0);
  vertical-align: sub;
  line-height: 1.188;
  text-indent: 10px;
  -moz-transform: scale(1.08, 0.97);
  -webkit-transform: scale(1.08, 0.97);
  -ms-transform: scale(1.08, 0.97);

}
