.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
.toppad
{
  margin-top:20px;
}


.upload_css{
  border:1px solid #D6D6D6;
  margin-top: 20px;
}
.align_center{
  text-align: right;
  padding-top: 10px;
  margin: 10px;

}
.text_box_css{
  max-width: 280px;
  display: inline;
  text-align: left;
  align-items: left;
  margin: 10px;
}
